* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  background-color: #e5ffff;
  text-align: center;
}

h1,
h2,
h4 {
  font-family: 'Special Elite', cursive;
}

ul,
li {
  text-align: left;
}

h1 {
  font-size: 42px;
  padding: 20px 0;
}

h2 {
  margin-top: 5px;
}

hr {
  border-bottom: 5px dotted #b1ddd9;
  border-top: none;
  margin-top: 10px;
}

a:link {
  color: #00695c;
  text-decoration: none;
}

a:visited {
  color: #9c27b0;
}

a:hover {
  cursor: pointer;
  color: #0d7f28;
}

.list {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header nav"
    "content content content content nav";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "heading heading heading heading heading"
    "image text text text text";
}

.image {
  grid-area: image;
  width: 150px;
  border-radius: 50%;
  margin: 0 10px 10px 0;
}

.text {
  grid-area: text;
}

.content {
  grid-area: content;
}

.heading {
  grid-area: heading;
}

#header .text {
  border: 5px dotted #82ada9;
  padding: 10px;
}

.navigate {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #82ada9;
}

.navigate h4 {
  margin: 10px 0;
  background-color: inherit;
}

#programming h4 {
  padding: 30px 0 10px;
  text-align: left;
}

.links {
  background-color: inherit;
  margin-top: 20px;
  position: fixed;
  align-self: center;
}

.link {
  display: block;
  padding: 5px;
  background-color: inherit;
}

.link img {
  background-color: inherit;
}

.copyright {
  font-size: small;
}

.text-box {
  display: grid;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.div-text {
  padding-bottom: 10px;
}

.fixed {
  opacity: 0.5;
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.usva {
  background-image: url("../img/usva3.JPG");
}

.sinivuokko {
  background-image: url("../img/sinivuokko.JPG");
}

.orvokki {
  background-image: url("../img/orvokki2pienempi.JPG");
}

.talvi {
  background-image: url("../img/P3130038.JPG");
}

@media screen and (max-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "content";
  }

  .navigate {
    display: none;
  }

  .image {
    max-width: 150px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "heading heading heading"
      "....... image   ......."
      "text text text";
    align-items: center;
  }
}
