* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  background-color: #e5ffff;
}

h1,
h2,
h3 {
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 42px;
}

hr {
  border-bottom: 5px dotted #b1ddd9;
  border-top: none;
}

a:link {
  color: #00695c;
  text-decoration: none;
}

a:visited {
  color: #9c27b0;
}

a:hover {
  cursor: pointer;
  color: #26a69a;
}

.list {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header nav"
    "content content content nav";
}

.header-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "image text text text";
}

.image {
  grid-area: image;
  /*object-fit: cover;*/
  border-radius: 50%;
  max-width: 200px;
}

.text {
  grid-area: text;
  align-self: center;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.navigate {
  grid-area: nav;
  text-align: center;
  display: grid;
  grid-template-areas:
    "links"
    "links"
    "links"
    "links"
    "links"
    "links"
    "links"
    "contact"
    "copyright";
  background-color: #82ada9;
}

.links {
  grid-area: links;
  background-color: inherit;
}

.link {
  display: block;
  margin: 10px;
}

.link,
.copyright {
  background-color: inherit;
}

.contact {
  grid-area: contact;
  background-color: inherit;
  align-self: end;
}

.contact h2 {
  background-color: inherit;
}

.copyright p {
  background-color: inherit;
}

.copyright {
  grid-area: copyright;
  align-self: end;
}

.text-box {
  display: grid;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.fixed {
  opacity: 0.5;
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.usva {
  background-image: url("../img/usva3.JPG");
}

.sinivuokko {
  background-image: url("../img/sinivuokko.JPG");
}

.orvokki {
  background-image: url("../img/orvokki2pienempi.JPG");
}

.talvi {
  background-image: url("../img/P3130038.JPG");
}
